.margin-horizontal {
  margin-left: 15px;
  margin-right: 15px;
}

.gradient-button {
  --background: linear-gradient(to right, #a49fb8, #c98b88);
  --color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  font-size: 24px; // Text size
  padding: 10px 24px;
}

#progress-circle {
  margin-top: 50px;
  transform: rotate(-90deg);
}

.timer-text {
  transform: rotate(90deg);
  transform-origin: center;
  font-size: 36px;
  font-weight: 600;
  text-anchor: middle;
  fill: #333;
}