.margin-horizontal {
  margin-left: 15px;
  margin-right: 15px;
}

.button {
  padding: 30px 30px;
  font-size: 20px;
}

#progress-circle {
  margin-top: 50px;
  transform: rotate(-90deg);
}

.timer-text {
  transform: rotate(90deg);
  transform-origin: center;
  font-size: 36px;
  font-weight: 600;
  text-anchor: middle;
  fill: #333;
}