<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Pomodoro App
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <div class="ion-padding"></div>
    <ion-card>
  <ion-card-header>
    <ion-card-title>Timer Settings</ion-card-title>
  </ion-card-header>
  <ion-card-content>

    <ion-item>
      <ion-label>Pomodoro Minutes</ion-label>
      <ion-input type="number" [(ngModel)]="pomodoroMinutes" min="0"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Pomodoro Seconds</ion-label>
      <ion-input type="number" [(ngModel)]="pomodoroSeconds" min="0" max="59"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Break Minutes</ion-label>
      <ion-input type="number" [(ngModel)]="breakMinutes" min="0"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Break Seconds</ion-label>
      <ion-input type="number" [(ngModel)]="breakSeconds" min="0" max="59"></ion-input>
    </ion-item>

  </ion-card-content>
</ion-card>


  <ion-row class="ion-justify-content-center">
    <svg 
    id="progress-circle" 
    width="50vh" 
    height="50vh" 
    viewBox="0 0 200 200">

      <defs>
        <linearGradient id="linearColors1" x1="0" y1="0" x2="1" y2="1">
          <stop offset="0%" stop-color="#ddd6f3"></stop>
          <stop offset="100%" stop-color="#faaca8"></stop>
        </linearGradient>
      </defs>

      <!-- Background  -->
      <circle
        cx="50%"
        cy="50%"
        [attr.r]="circleR"
        fill="none"
        stroke="#f3f3f3"
        stroke-width="12"
      ></circle>

      <!-- Progress Timer -->
      <circle
        cx="50%"
        cy="50%"
        [attr.r]="circleR"
        fill="none"
        stroke="url(#linearColors1)"
        stroke-width="12"
        stroke-linecap="round"
        [attr.stroke-dasharray]="circleDasharray"
        [attr.stroke-dashoffset]="percentageOffset(percent | async)"
      ></circle>

      <text x="50%" y="55%" class="timer-text">{{ time | async }}</text>
    </svg>
  </ion-row>


  <div class="ion-padding"></div>

  <ion-row class="ion-justify-content-center">
    <ion-button *ngIf="state==='stop'"
    class="gradient-button" (click)="startTimer(pomodoroDuration)" >
      Start Pomodoro
    </ion-button>


    <h2 *ngIf="state==='start' && isPomodoro">
      Pomodoro in progress... 
    </h2>

    <h2 *ngIf="state==='start' && !isPomodoro">
      Taking a break... 
    </h2>
  </ion-row>

</ion-content>
